DEBUG=true

LISTEN_ADDR=127.0.0.1:8080

CLASH_URL=http://127.0.0.1:9090
CLASH_API_KEY=123456
CLASH_TIMEOUT=15s

DB_PATH=mihoflow.db

COLLECT_INTERVAL=1s
FLUSH_INTERVAL=5m
HISTORY_DAYS=90
CLEANUP_DAYS=97
